/* slick-custom.css */

/* Increase spacing between slides */
.slick-slide {
    margin: 0 1rem !important; /* Adjust horizontal spacing between slides */
  }

  @media (max-width: 768px) {
    .slick-slide {
      margin: 0 0rem; /* Adjust the value as needed for a better mobile appearance */
    }
  }
  
  /* Allow the overflow of arrows if needed */
  .slick-list {
    margin-bottom: 0 !important;
  }
  
  /* Customize arrow icons (if using default icons) */
  .slick-prev:before,
  .slick-next:before {
    color: #fff; /* White arrows */
    display: none;
  }
  
  /* Optionally, remove default background/dots if desired */
  .slick-dots li button:before {
    font-size: 1.5rem;
    color: #fff;
  }
  
  /* Adjust arrow positions if needed */
  