/* slick-custom.css */

/* Increase spacing between slides */
.slick-slide
{
    display: none;
    float: left;
    padding: 1rem;
    height: 100%;
    min-height: 1px;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
}


  @media (max-width: 768px) {
    .slick-slide {
      padding: 0 0rem; /* Adjust the value as needed for a better mobile appearance */
    }
  }
  
  /* Allow the overflow of arrows if needed */
  
  /* Customize arrow icons (if using default icons) */
  .slick-prev:before,
  .slick-next:before {
    color: #fff; /* White arrows */
    display: none;
  }
  
  
  /* Adjust arrow positions if needed */
  